<?php
/** @var NaviPartner\BackendTest\Block\Get\User $block */

$blockData = $block->getData();
$data = $blockData['data'];
$userData = $data['user_data'];
$weatherData = $data['weather_data'];
?>
<div class="table-wrapper">
    <?php if ($userData): ?>
        <div class="content-heading">
            <h2 class="title"><?= $block->escapeHtml(__('User Information')) ?></h2>
        </div>
        <table class="data table" id="user-information-table">
            <caption class="table-caption"><?= $block->escapeHtml(__('User Information')) ?></caption>
            <tbody>
            <tr>
                <th class="col label" scope="row"><?= $block->escapeHtml(__('Full Name')) ?></th>
                <td class="col data" data-th="Full Name"><?= $block->escapeHtml($userData['name']) ?></td>
            </tr>
            <tr>
                <th class="col label" scope="row"><?= $block->escapeHtml(__('Email')) ?></th>
                <td class="col data" data-th="Email"><?= $block->escapeHtml($userData['email']) ?></td>
            </tr>
            <tr>
                <th class="col label" scope="row"><?= $block->escapeHtml(__('Birthday')) ?></th>
                <td class="col data" data-th="Birthday"><?= $block->escapeHtml($userData['dob']) ?></td>
            </tr>
            <tr>
                <th class="col label" scope="row"><?= $block->escapeHtml(__('Street')) ?></th>
                <td class="col data" data-th="Street"><?= $block->escapeHtml($userData['street']) ?></td>
            </tr>
            <tr>
                <th class="col label" scope="row"><?= $block->escapeHtml(__('City')) ?></th>
                <td class="col data" data-th="City"><?= $block->escapeHtml($userData['city']) ?></td>
            </tr>
            <tr>
                <th class="col label" scope="row"><?= $block->escapeHtml(__('State')) ?></th>
                <td class="col data" data-th="State"><?= $block->escapeHtml($userData['state']) ?></td>
            </tr>
            <tr>
                <th class="col label" scope="row"><?= $block->escapeHtml(__('Postcode')) ?></th>
                <td class="col data" data-th="Postcode"><?= $block->escapeHtml($userData['postcode']) ?></td>
            </tr>
            <tr>
                <th class="col label" scope="row"><?= $block->escapeHtml(__('Phone Number')) ?></th>
                <td class="col data" data-th="Phone Number"><?= $block->escapeHtml($userData['phone']) ?></td>
            </tr>
            </tbody>
        </table>
    <?php endif; ?>
    <br>
    <?php if ($weatherData): ?>
    <div class="content-heading">
        <h2 class="title"><?= $block->escapeHtml(__('Weather At Users Location')) ?></h2>
    </div>
    <table class="data table" id="user-information-table">
        <caption class="table-caption"><?= $block->escapeHtml(__('Weather')) ?></caption>
        <tbody>
        <tr>
            <th class="col label" scope="row"><?= $block->escapeHtml(__('Weather')) ?></th>
            <td class="col data" data-th="Weather"><?= $block->escapeHtml($weatherData['weather']) ?></td>
        </tr>
        <tr>
            <th class="col label" scope="row"><?= $block->escapeHtml(__('Temperature')) ?></th>
            <td class="col data" data-th="Temperature"><?= $block->escapeHtml($weatherData['temp']) ?></td>
        </tr>
        <tr>
            <th class="col label" scope="row"><?= $block->escapeHtml(__('Feels Like')) ?></th>
            <td class="col data" data-th="Feels Like"><?= $block->escapeHtml($weatherData['feels_like']) ?></td>
        </tr>
        <tr>
            <th class="col label" scope="row"><?= $block->escapeHtml(__('Pressure')) ?></th>
            <td class="col data" data-th="Pressure"><?= $block->escapeHtml($weatherData['pressure']) ?></td>
        </tr>
        <tr>
            <th class="col label" scope="row"><?= $block->escapeHtml(__('Humidity')) ?></th>
            <td class="col data" data-th="Humidity"><?= $block->escapeHtml($weatherData['humidity']) ?></td>
        </tr>
        </tbody>
        <?php endif; ?>
</div>
