div.table-wrapper {
    margin: auto;
    padding: 10px;
    width: 80%;
    align-items: center;
}

div.actions {
    margin: auto;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

div.select-wrap {
    margin: auto;
    padding: 30px;
    align-items: center;
}

th.col {
    width: 50%;
}
