<?php
/** @var NaviPartner\BackendTest\Block\Index\Grid $block */

$requestParams = $block->getRequestParams();
$nationalityOptions = $block->getNationalities();
?>
<div class="data-grid-filters-wrap _show" data-part="filter-form">
    <form action="<?= $block->getFormAction() ?>" method="post">
        <fieldset name="filter" class="fieldset data-grid-filters">
            <legend class="filters-legend">
                <span>Grid filters</span>
            </legend>

            <label for="name" class="field-label label">
                <span><?= $block->escapeHtml(__('Full Name')) ?></span>
            </label>
            <input name="name" type="text" value="<?= $block->escapeHtmlAttr($requestParams['name'] ?? '') ?>">

            <label for="nationality" class="field-label label">
                <span><?= $block->escapeHtml(__('Nationality')) ?></span>
            </label>
            <select id="nationality" name="nationality" title="<?= $block->escapeHtmlAttr(__('Nationalities')) ?>"
                    class="select">
                <option value=""><?= $block->escapeHtml(__('Please Select')) ?></option>
                <?php foreach ($nationalityOptions as $option) : ?>
                    <?php if (!empty($option['label'])): ?>
                        <option value="<?= $block->escapeHtmlAttr($option['label']) ?>"><?= $block->escapeHtml(__($option['label'])) ?></option>
                    <?php endif; ?>
                <?php endforeach; ?>
            </select>

            <label for="street" class="field-label label">
                <span><?= $block->escapeHtml(__('Street')) ?></span>
            </label>
            <input name="street" type="text" value="<?= $block->escapeHtmlAttr($requestParams['street'] ?? '') ?>">

            <label for="city" class="field-label label">
                <span><?= $block->escapeHtml(__('City')) ?></span>
            </label>
            <input name="city" type="text" value="<?= $block->escapeHtmlAttr($requestParams['city'] ?? '') ?>">

            <label for="state" class="field-label label">
                <span><?= $block->escapeHtml(__('State')) ?></span>
            </label>
            <input name="state" type="text" value="<?= $block->escapeHtmlAttr($requestParams['state'] ?? '') ?>">

            <label for="from" class="field-label label">
                <span><?= $block->escapeHtml(__('From Creation Date')) ?></span>
            </label>
            <input name="from" type="date" value="<?= $block->escapeHtmlAttr($requestParams['from'] ?? '') ?>">

            <label for="to" class="field-label label">
                <span><?= $block->escapeHtml(__('To Creation Date')) ?></span>
            </label>
            <input name="to" type="date" value="<?= $block->escapeHtmlAttr($requestParams['to'] ?? '') ?>">

            <div class="actions actions-create">
                <input type="submit" class="action-primary" value="Apply Filters">
            </div>
        </fieldset>
    </form>
</div>
<div class="actions actions-create">
    <form action="<?= $block->escapeHtmlAttr($block->removeAllFilters()) ?>">
        <input type="submit" class="action-primary" value="<?= $block->escapeHtmlAttr(__('Remove All Filters')) ?>"/>
    </form>
    <form action="<?= $block->escapeHtmlAttr($block->downloadGridAsPdf()) ?>">
        <input type="submit" class="action-primary"
               value="<?= $block->escapeHtmlAttr(__('Download Current Grid as PDF')) ?>"/>
    </form>
</div>
<?php if ($block->getPagerHtml()): ?>
    <div class="user-grid-toolbar toolbar top"><?= $block->getPagerHtml(); ?></div>
<?php endif ?>
<?php $gridData = $block->getGridData(); ?>
<?php if ($gridData && sizeof($gridData)): ?>
    <div class="table user-grid">
        <table class="data table table-user-grid" id="user-grid">
            <caption class="table-caption"><?= $block->escapeHtmlAttr(__('Grid Records')) ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col"><?= $block->escapeHtml(__('Created At')) ?></th>
                <th scope="col" class="col"><?= $block->escapeHtml(__('Full Name')) ?></th>
                <th scope="col" class="col"><?= $block->escapeHtml(__('Email')) ?></th>
                <th scope="col" class="col"><?= $block->escapeHtml(__('Address')) ?></th>
                <th scope="col" class="col"><?= $block->escapeHtml(__('City')) ?></th>
                <th scope="col" class="col"><?= $block->escapeHtml(__('Postcode')) ?></th>
                <th scope="col" class="col"><?= $block->escapeHtml(__('State')) ?></th>
                <th scope="col" class="col"><?= $block->escapeHtml(__('Nationality')) ?></th>
                <th scope="col" class="col"><?= $block->escapeHtml(__('Weather')) ?></th>
                <th scope="col" class="col"><?= $block->escapeHtml(__('Temperature')) ?></th>
                <th scope="col" class="col"><?= $block->escapeHtml(__('Feels Like')) ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($gridData as $data): ?>
                <tr>
                    <td data-th="<?= $block->escapeHtmlAttr(__('Created At')) ?>"
                        class="col"><?= $block->escapeHtml($data->getCreatedAt()) ?></td>
                    <td data-th="<?= $block->escapeHtmlAttr(__('Full Name')) ?>"
                        class="col"><?= $block->escapeHtml($data->getName()) ?></td>
                    <td data-th="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                        class="col"><?= $block->escapeHtml($data->getEmail()) ?></td>
                    <td data-th="<?= $block->escapeHtmlAttr(__('Address')) ?>"
                        class="col"><?= $block->escapeHtml($data->getStreet()) ?></td>
                    <td data-th="<?= $block->escapeHtmlAttr(__('City')) ?>"
                        class="col"><?= $block->escapeHtml($data->getCity()) ?></td>
                    <td data-th="<?= $block->escapeHtmlAttr(__('Postcode')) ?>"
                        class="col"><?= $block->escapeHtml($data->getPostcode()) ?></td>
                    <td data-th="<?= $block->escapeHtmlAttr(__('State')) ?>"
                        class="col"><?= $block->escapeHtml($data->getState()) ?></td>
                    <td data-th="<?= $block->escapeHtmlAttr(__('Nationality')) ?>"
                        class="col"><?= $block->escapeHtml($data->getNationality()) ?></td>
                    <td data-th="<?= $block->escapeHtmlAttr(__('Weather')) ?>"
                        class="col"><?= $block->escapeHtml($data->getWeather()) ?></td>
                    <td data-th="<?= $block->escapeHtmlAttr(__('Temperature')) ?>"
                        class="col"><?= $block->escapeHtml($data->getTemperature()) ?></td>
                    <td data-th="<?= $block->escapeHtmlAttr(__('Feels Like')) ?>"
                        class="col"><?= $block->escapeHtml($data->getFeelsLike()) ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else: ?>
    <div class="message info empty"><span><?= $block->escapeHtml(__('No records.')); ?></span></div>
<?php endif ?>
<?php if ($block->getPagerHtml()): ?>
    <div class="user-grid-toolbar toolbar bottom"><?= $block->getPagerHtml(); ?></div>
<?php endif ?>
