<?php
/** @var NaviPartner\BackendTest\Block\Index\Index $block */

$storeId = $block->getStoreId();
$allowedCountries = $block->getAllowedCountries($storeId);
?>
<div class="select-wrap">
    <label for="select_country"><?= $block->escapeHtml(__('Select User Nationality')) ?></label>
    <select
        id="select-country"
        class="action-select"
        data-menu="grid-select">
        <optgroup label="<?= $block->escapeHtmlAttr(__('Supported Nationalities')) ?>">
            <?php foreach ($allowedCountries as $allowedCountry): ?>
                <option value="<?= $block->escapeHtmlAttr($allowedCountry['value']) ?>">
                    <?= $block->escapeHtml(__($allowedCountry['label'])) ?>
                </option>
            <?php endforeach; ?>
        </optgroup>
    </select>
</div>
<div class="actions actions-create">
    <button class="action" type="button" id="get-user-data">
        <span><?= $block->escapeHtml(__('Generate Random User')) ?></span>
    </button>
</div>
<div id="user-data"></div>
<div class="actions actions-create">
    <form action="<?= $block->getUrl('navipartner/index/grid'); ?>">
        <input type="submit" class="action-primary"
               value="<?= $block->escapeHtmlAttr(__('See Generated User History')) ?>"/>
    </form>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "NaviPartner_BackendTest/js/user_data": {
                "getDataUrl": "<?= $block->getUrl('navipartner/get/user'); ?>"
            }
        }
    }
</script>
